body{
    /* background-color: whitesmoke; */
    font-family:'Courier New', Courier, monospace;
    font-family: cursive;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main p,div{
    /* font-size: 18px; */
}
/* header -------------------------------------- */
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
header a{
    display: inline;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-top: -5px;
}
#hspan{
    padding: 20px;
    font-size: 40px;
}
#hdiv{
    width: 80%;
    margin: auto;
}
header ul{
    float: right;
}
#outer{
    width: 80%;
    border: 1px solid white;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}
/* main -------------------------------------- */
#main{
    width: 90%;
    margin: auto;
    /* border: 1px solid black; */
}
img{
    /* border: 1px solid black; */
    width: 100%;
}
h1{
    /* border: 1px solid black; */
}
#official-site{
    color: black;
}

/* author -------------------------------------- */
#dp{
    float: left;
    height: 100px;
    width: 80px;
}
#about-author{
    overflow: auto;
}

/* footer -------------------------------------- */
header, footer{
    background-color: rgba(0,189,165,255);
    color: white;
} 
.footer-div1{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.footer-div1 .links{
    width: 320px;
    margin-bottom: 20px;
}
.links:first-child{
    margin-right:70px;
    margin-left:20px;
}
.footer-div1 a{
    display: block;
    margin: 15px;
    text-decoration: none;
    color: white;
}
hr{
    width: 70%;
    margin: auto;
    color: white;
}
.footer-div2{
    width: 70%;
    margin: auto;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.footer-div2 i{
    padding: 10px;
    color: white;
    text-decoration: none;
}